Body{
    background-color:white;
}
h2{
    
    color: Black;
    font-style: italic;
    font: 'Franklin Gothic Medium';
}



div.a:link{
    background-color: brown;
    color:aquamarine;
    border: 1cm;
    margin-bottom: 10px;
    margin-right: 90%;
}
div.a:visited{
    background-color: brown;
    color:black;
    border: 1cm;
    margin-bottom: 10px;
    margin-right: 90%;
}

div.a:hover{
    background-color: aquamarine;
    margin-right: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    color: black;
    font-size: 100px;
}
div.a:active{
    background-color: brown;
    color:blue;
    border: 1cm;
    margin-bottom: 10px;
    margin-right: 90%;
}

div.b{
    background-color: rgb(99, 8, 8);
    color: aqua;
    width: 500px;
    border: 7px double aqua;
    padding: 20px;
    margin: 10px;
}
ul.a{
    list-style-type: square;
    color: aqua;
    
}
div.c{
    background-color: rgb(241, 61, 226);
    color: aqua;
    width: 200x;
    border: 5px double aqua;
    padding: 10px;
    margin: 10px;
}

